div {
    background-image: url('../class12/image/teachersday.PNG');
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: center;
    margin: auto;
    background-attachment: scroll;


}

#id3 {
    border-width: thick;
    border color: brown;
    border-style: inset;
} 
#id4{width: auto;
    height: 50px;
    border-width: 5px 10px 15px 20px;
    border color: forestgreen;
    border-style: inset;
}